In [7]:
import pandas as pd
df = pd.read_csv('disney_movies.csv')

df['release_date'] = pd.to_datetime(df['release_date'])
df['total_gross'] = pd.to_numeric(df['total_gross'])
df['inflation_adjusted_gross'] = pd.to_numeric(df['inflation_adjusted_gross'])

print(df)

                         movie_title release_date      genre mpaa_rating  \
0    Snow White and the Seven Dwarfs   1937-12-21    Musical           G
1                          Pinocchio   1940-02-09  Adventure           G
2                           Fantasia   1940-11-13    Musical           G
3                  Song of the South   1946-11-12  Adventure           G
4                         Cinderella   1950-02-15      Drama           G
..                               ...          ...        ...         ...
574         The Light Between Oceans   2016-09-02      Drama       PG-13
575                   Queen of Katwe   2016-09-23      Drama          PG
576                   Doctor Strange   2016-11-04  Adventure       PG-13
577                            Moana   2016-11-23  Adventure          PG
578     Rogue One: A Star Wars Story   2016-12-16  Adventure       PG-13

     total_gross  inflation_adjusted_gross
0      184925485                5228953251
1       84300000                2188229052
2       83320000                2187090808
3       65000000                1078510579
4       85000000                 920608730
..           ...                       ...
574     12545979                  12545979
575      8874389                   8874389
576    232532923                 232532923
577    246082029                 246082029
578    529483936                 529483936

[579 rows x 6 columns]